<div class="row">
    <div class="col-md-3">
        <img src="~/images/32.png" />
    </div>
    <div clas="col-md-3">
        <span class="badge">@Model.currently.summary</span>
    </div>
    <div class="col-md-3">
        <span class="badge">Chance of Precipitation: @Model.currently.precipProbability</span>
    </div>
</div>
<div class="row">

</div>