@model weatherMvc.Models.WeatherData
@{
    var weatherData = (WeatherData)ViewData["weatherData"];
    var locationData = (LocationData)ViewData["location"];
}
<div class="container">
    <!-- this is the vertical weather info -->
    <div class="col">
        <div class="row" id="almanacInfo">
            \][ytewqzx]
        </div>

    </div>
</div>

<div class="container">
    <!-- this is the weather map -->
</div>

<div class="container">
    <!-- 7 day forecast -->
</div>