@model weatherMvc.Models.LocationData

@{
    ViewData["Title"] = "SetLocation";
}

<div class="container">
    <form method="post">
        <div class="text-center" id="location_center">
            <h2>What city are you in? </h2>
            <h6> This app will call Google to get your coordinates and then call DarkSky to get the weather</h6>
            
            <label asp-for="searchAddress" style="font-family: Arial">City or Street Address:</label>
            <input asp-for="searchAddress" class="form-control" />
            <span asp-validation-for="searchAddress" class="text-danger"></span>

            <h6> Or if you know your coordinates:</h6>
            <label asp-for="searchLat" style="font-family: Arial">Latitude</label>
            <input asp-for="searchLat" class="form-control" />
            <span asp-validation-for="searchLat" class="text-danger"></span>

            <label asp-for="searchLng" style="font-family: Arial">Longitude</label>
            <input asp-for="searchLng" class="form-control col-sm" />
            <span asp-validation-for="searchLng" class="text-danger"></span>
        </div>
        <br />
        <div class="text-center">
            <button asp-controller="weather" asp-action="setLocation" class="btn btn-primary" id="custom-button">Get Weather</button>
        </div>
    </form>
</div>

