@{
    ViewData["Title"] = "Home Page";
}
<form method="Get">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <button asp-controller="weather" asp-action="setLocation" class="btn btn-primary">Get Current Weather</button>
    </div>
</form>
