   #uv-index1 {
       background-color: #70c1b3;
   }

   #uv-index2 {
       background-color: #ffe066;
   }

   #uv-index3 {
       background-color: #b14643;
   }

   #badge-custom-danger {
       background-color: #b14643;
   }

   #badge-custom-warning {
       background-color: #ffe066;
   }

   #badge-custom-clear {
       background-color: #70c1b3;
   }

   #custom-button {
       background-color: #247ba0;
   }